<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <title>Cluster Migrate</title>
</head>

<body>
    <div class="main">
        <h1>MongoDB cluster migrate</h1>
        <div class="dbsection">
            <form action="/dbRead" method="post">
                    <input type="text" name="input_url" class="url">
                    <label for="input_url">Input Connection String</label>
                <button type="submit">Read DB</button>
            </form>
            <div class="dbList">
            </div>
            <form action="/dbTransfer" method="post">
                    <input type="text" name="output_url" class="url">
                    <label for="output_url">Output Connection String</label>
                <button type="submit">Trasfer</button>
            </form>
        </div>
    </div>
</body>

</html>