body {
    color: rgb(57, 57, 194);
}

.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.main h1 {
    text-align: center;
}

.dbsection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.data {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.dbsection .url {
    margin: 0px;
    height: 25px;
    width: 400px;
}

.dbsection label {
    margin: 5px;
}

.main button {
    width: 75px;
    height: 25px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    margin: 20px;
    align-self:center;
}